name: Deploy to VPS

on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to VPS
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: 69.62.72.249
          username: root
          key: ${{ secrets.VPS_SSH_KEY }}
          script: |
            cd /var/www/simulation.jdhub.shop
            git fetch
            git reset --hard origin/master
            git pull
            ./build/tailwindcss -i build/input.css -o output.css --minify
